.dashboard-container {
    height: 100%;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.1), white);
}

/* HEADER */

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

/* FOOTER */

.dashboard-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

.dashboard-footer > div {
    padding: 20px;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
    cursor: pointer;
}

.dashboard-footer > div:hover {
    background: #efefef;
}

.dashboard-footer-feed {
    flex-grow: 1;
}

.dashboard-footer-opportunities {
    flex-grow: 2;
}

.dashboard-footer-profile {
    flex-grow: 1;
}

/* OPPORTUNITY */

.opportunities-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.cards-container {
    width: 400px;
    height: 700px;
}

.opportunity {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    border-radius: 13px;
    position: absolute;
}

.opportunity video {
    width: 400px;
    height: 700px;
    background: black;
    border-radius: 13px;
}

.opportunity-info {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)); 
    /* margin-top: -100px; */
    position: absolute;
    bottom: 0;
    height: 130px;
    width: 400px;
    padding: 10px 20px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.opportunities-tick,
.opportunities-cross {
    font-size: 60px;
    border-radius: 50%;
    padding: 10px 15px;
    color: #151515;
    cursor: pointer;
}

.opportunities-tick {
    background: #32a852;
}

.opportunities-cross {
    background: #a83432;
    padding: 10px 25px;
}

.dashboard-profile {
    height: 100%;
    font-size: 19px;
}

.profile-top-row,
.profile-bottom-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.profile-top-row > div,
.profile-bottom-row > div {
    width: 30%;
    height: 40vh;
}

.profile-picture img {
    border-radius: 50%;
    width: 220px;
}

.dashboard-profile h3 {
    font-size: 29px;
}

.social-links svg {
    font-size: 32px;
    margin-right: 10px;
}

.social-links p {
    display: flex;
    justify-content: left;
    align-items: center;
}

.profile-summary h2 {
    font-weight: lighter;
    color: #444;
    font-size: 25px;
    margin: 0;
}

.profile-summary p {
    font-size: 18px;
}

.profile-summary > input {
    display: inline-block;
    width: auto;
    margin: 5px 0 0 0;
}

.profile-summary h4 {
    margin: 16px 0 0 0;
}

.profile-summary p {
    margin: 4px 0 5px 0;
}

.profile-summary .tag {
    margin-right: 5px;
}